<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adam.app.databasedemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.adam.app.database.READ_DB"
        android:description="@string/permission_read_description"
        android:label="@string/permission_read_label"
        android:protectionLevel="normal" >
    </permission>
    <permission
        android:name="com.adam.app.database.WRITE_DB"
        android:description="@string/permission_write_description"
        android:label="@string/permission_write_label"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.MyDataProvider"
            android:authorities="com.adam.app.databasedemo.data.MyDataProvider"
            android:enabled="true"
            android:exported="true" 
            android:readPermission="com.adam.app.database.READ_DB"
            android:writePermission="com.adam.app.database.WRITE_DB">
        </provider>
    </application>

</manifest>